* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.search{
    position:absolute;
    top: 10%;
    left: 10%;
}
.container{
    position:absolute;
    top:40%;
}

body{
    background-image: url('https://previews.123rf.com/images/gstockstudio/gstockstudio1408/gstockstudio140800066/30345421-what-is-there-handsome-young-man-pointing-away-and-smiling-while-standing-isolated-on-white-backgrou.jpg');
    background-color: grey;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top;
    background-size: 75% 100%;
	}