html, body {
    background-color: none;
    background-image: url("http://i.ytimg.com/vi/v1SabYdIlZI/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 33%;
    }
    .Htxt {
        text-align: center;
    }
    .navblog {
        text-align: center;
        justify-content: center;
    }
      .navblog li {
        display: inline;
        padding: 20px;
    }
    .border {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }