#name {
    border-radius: 100px;
	width: 200px;
}
#mail {
    border-radius: 100px;
	width: 200px;
}
#tele {
    border-radius: 100px;
	width: 200px;
}
#pin {
    border-radius: 100px;
	width: 200px;
}
#submit {
    border-radius: 100px;
    width: 208px;
}
#texta input:focus {
    border: 1px solid black;
}
#texta {
    border-radius: 15px;
    border: 10px solid aqua;
    width: 250px;
    height: 50px;
    padding: 10px;
}