body {
background-color: lightgreen;
}
.nav {
    display: flex;
    justify-content: center;
    background-color: lightpink;
    text-align: center;
}
  .nav li {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.border {
    border-top: 2px solid black;    
}
h1 {
    width: 325px;
    font-size: 50px;
    color: darkblue;
}
h2 {
    width: 200px;
    font-size: 25px;
    color: darkblue;
}
h3 {
    width: 225px;
    font-size: 25px;
    color: darkblue;
}
img {
    width: 500px;
    height: 500px;
}
.p {
    background-color: lightcoral;
}
.mail {
    display: flex;
    justify-content: center ;
    background-color: lightblue;  
    margin: 10px;
    padding: 10%;
}
