body  {
    background-image: url('https://i.pinimg.com/originals/67/e5/e3/67e5e32a912e45efef5b4b94eba16e71.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
      }