body {
	background-image: url('https://mailbook.nl/img/square-logo-background.png?1cc47c67');
	background-size: 50%;
}

.kader {
    margin: 60px;
	padding: 0;
	text-align: center;
    font-family: sans-serif;
}
.column {
    position: absolute;
	top: 20%;
	left: 25%;
	width: 600px;
	padding: 10px;
	height: 300px;
	border-radius: 80px;
	box-shadow: 10px 10px 40px #161616;
}